<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!--显示sql语句-->
        <property name="show_sql">false</property>
        <!--整理sql语句-->
        <property name="format_sql">true</property>
        <!--方言-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <!--生成策略-->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!--引入其他配置-->
        <mapping resource="com/lanou/ask/StuAsk.hbm.xml"/>
        <mapping resource="com/lanou/ask/StuFollow.hbm.xml"/>
        <mapping resource="com/lanou/hr/Department.hbm.xml"/>
        <mapping resource="com/lanou/hr/Post.hbm.xml"/>
        <mapping resource="com/lanou/hr/Staff.hbm.xml"/>
        <mapping resource="com/lanou/job/StuJob.hbm.xml"/>
        <mapping resource="com/lanou/plan/StuChange.hbm.xml"/>
        <mapping resource="com/lanou/plan/Student.hbm.xml"/>
        <mapping resource="com/lanou/plan/StuLoose.hbm.xml"/>
        <mapping resource="com/lanou/teaching/Classes.hbm.xml"/>
        <mapping resource="com/lanou/teaching/Course.hbm.xml"/>

    </session-factory>

</hibernate-configuration>
